<div class="right-container">
    <img src="/images/iPhone 12 Pro.png" alt="avatar-img">
    <h3 class="right-container-text | clr-invert fw-semi-bold">Digital headquarters for great teamwork</h3>
</div>