<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start | Login | Register</title>
    <link rel="stylesheet" href="/css/Reset.css">
    <link rel="stylesheet" href="/css/SLRstyles.css">
    <script defer src="https://kit.fontawesome.com/630505c928.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <img src="/images/logo.png" alt="avatar-img" class="nav-logo">
        </div>

