<%- include("partials/SLRheader"); -%>
<div class="wrapper">
    <div class="left-container">
        <h1 class="fw-semi-bold clr-invert fs-secondary-heading block-padding-400">Login | Signup</h1>
        <div class="btn-container">
        <form action="/login" method="get">
            <button class="SLRbtn fw-semi-bold" type="submit">Login</button>
        </form>
        <form action="/register" method="get">
            <button class="SLRbtn fw-semi-bold" type="submit">Register</button>
        </form>
    </div>
    </div>

    <%- include("partials/SLR-right-container"); -%>
</div>


</div>
<%- include("partials/footer"); -%>