<%- include("partials/header"); -%>

<h1 class="wycd">Log in or sign up</h1>

<div class="action-box">
    <a href="/register" role="button">Register</a>
</div>
<div class="action-box">
    <a href="/login" role="button">Login</a>
</div>




<%- include("partials/footer"); -%>