@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*---------------------------------------- Variables----------------------------------- */
:root {
  --clr-500: #1B4967;
  --clr-400: #1B4D70;
  --clr-300: #2A709F;
  --clr-200: #47B5FF;
  --clr-100: #7CCAFF;
  --clr-menu-btn: #888;

  --clr-text: #fff;
  --clr-invert-text: #1A1A1A;

  --ff-primary: 'Inter', sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-400: 1.75rem;
  --fs-300: 1rem;
  --fs-200: 0.75rem;
  --fs-100: 0.5rem;

  --fs-primary-heading: var(--fs-400);
  --fs-secondary-heading: var(--fs-300);
  --fs-button: var(--fs-200);
  --fs-text: var(--fs-100);
  --fs-customer-heading: var(--fs-300);
  --fs-customer-secondary-heading: var(--fs-200);

  --block-padding-400: 1.45rem;
  --block-padding-500: 2rem;
  --block-padding-600: 3.5rem;

  --font-size-400: 3.438rem;
  --font-size-200: 1rem;
  --size: 2.5rem;
}

/* -------------------------------------------------------------------------------------- */

/* ----------------------------utlity Classes --------------------------------------------*/
.none {
  display: none;
}

.clr-500 {
  color: var(--clr-500);
}

.clr-400 {
  color: var(--clr-400);
}

.clr-300 {
  color: var(--clr-300);
}

.clr-200 {
  color: var(--clr-200);
}

.clr-100 {
  color: var(--clr-100);
}


.clr-text {
  color: var(--clr-text);
}

.clr-invert {
  color: var(--clr-invert-text);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-button {
  font-size: var(--fs-button);
}

.fs-text {
  font-size: var(--fs-text);
}

.fs-customer-heading {
  font-size: var(--fs-customer-heading);

}

.fs-customer-secondary-heading {
  font-size: var(--fs-customer-secondary-heading);
}

.block-padding-400 {
  padding-block: var(--block-padding-400);
}

.block-padding-500 {
  padding-block: var(--block-padding-500);
}

.block-padding-600 {
  padding-block: var(--block-padding-600);
}



/* ---------------------------------------------------------------------------------------- */

/* --------------------------------general Styling----------------------------------------- */

body {
  font-family: var(--ff-primary);
  background: var(--clr-500);
  color: var(--clr-text);
  font-weight: var(--fw-regular);
}

.primary-header {
  width: 145px;
  height: 103px;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.8rem;
  margin-bottom: 5rem;
}

.icon {
  display: none;
}

.nav-list {
  display: flex;
  gap: 3rem;
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-text);
  text-transform: uppercase;

}




@media (max-width: 50em) {
  .primary-naviagtion {
    display: none;
    padding: 3rem;
    position: absolute;
    inset: 7rem 2rem auto;
    background-color: var(--clr-text);
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }



  .nav-list {
    display: grid;
    gap: 1.7rem;
    text-align: center;
    font-size: var(--fs-300);
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
  }

  .nav-list a {
    text-decoration: none;
    color: var(--clr-invert-text);
  }

  .icon {
    display: block;
    padding: 1rem;
    border-radius: 100vmax;
    background-color: var(--clr-text);
    color: var(--clr-menu-btn);

  }

  .display-none-ss {
    display: none;
  }

}

.general-btn {
  padding: 0.8em 1.4em;
  border-radius: 6px;
  border: none;
  background-color: var(--clr-100);
  color: var(--clr-text);
  font-size: var(--fs-button);
  font-weight: var(--fw-regular);
  cursor: pointer;
}

.home-Page-Container {
  --max-width: 1380px;
  --padding: 1rem;
  width: min(var(--max-width), calc(100% - var(--padding) * 4));
  margin-inline: auto;
}


.tagline-gradient {
  background: -webkit-linear-gradient(0deg, #CCEAFF, #47B5FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.even-col {
  display: grid;
  gap: 1rem
}

.col2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col2 img {
  width: 164px;
  height: 105.6px;
}

.wycd-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.wycd-body {
  padding-bottom: 20px;
}


.cols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.feature-demo {
  padding: 2em 2em;
  border-radius: 7px;
  background-color: #7CCAFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-icon {
  font-size: var(--font-size-400);
}

.computer-demo {
  min-width: 260px;
  min-height: 290px;
}

.cta-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cta {
  font-size: var(--font-size-200);
  border: 2px solid #fff;
  border-radius: 50%;
  float: left;
  /* padding: 30px; */
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.secondary-navigation a {
  list-style: none;
  text-decoration: none;
  color: var(--clr-text);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

.secondary-navigation .active {
  color: var(--clr-100);
  border-inline: 1px solid var(--clr-100);
}

/* --------------------------------------------------------------------------------------------- */
@media (min-width: 50em) {
  :root {
    --fs-primary-heading: 3.25rem;
    --fs-secondary-heading: 2.0rem;
    --fs-customer-heading: 4.375rem;
    --fs-customer-secondary-heading: 1.313rem;
    --fs-button: 1.5rem;
    --fs-text: 1.125rem;
    --block-padding: 2rem;
    --btn-width: 13.5rem;
    --btn-height: 3.75rem;
    --font-size-400: 5rem;
    --font-size-200: 1.8rem;
    --size: 3.75rem
  }

  .even-col {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .more-gap {
    gap: 8rem;
  }

  .col2 img {
    width: 31.25rem;
    height: 17.813rem;
  }

  .computer-demo {
    max-width: 633px;
    max-height: 511px;
    margin-bottom: 80px;
  }

  .cols2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .secondary-navigation {
    display: flex;
    justify-content: center;
    gap: 2rem
  }

  .nav-list .active {
    border-radius: 5px;
    color: var(--clr-100);
    font-weight: var(--fw-bold);
  }
}